fastapi[standard]
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
python-multipart==0.0.20
sqlalchemy
psycopg2-binary
python-dotenv
alembic
joblib
numpy
pydantic
scikit-learn
pandas
scipy
python-dateutil
pydantic-settings
gunicorn
